

.scrollBtn svg {
  height: 24px; 
  width: auto; 
  position: fixed;
  bottom: 40px;
  right: -6px;
  z-index: 1000;
  
  width: 60px;
  height: auto;
  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease-in-out;
}

.scrollBtn:hover svg{
  transform: translateX(-5px);
}

.scrollBtn:hover svg path {
  fill: #60819c;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}